<h1>Edit Tool</h1>
<%= form_for(@tool, url: user_tool_path(@user, @tool.id)) do |f| %> 
  <%= f.label "name:" %> 
  <%= f.text_field :name %>
  <br> 

  <%= f.label "use:" %> 
  <%= f.text_field :use %>
  <br>

  <%= f.submit %>
<%end%>