<h1>Tools Index</h1>

<%= link_to "New tool", new_admin_tool_path %>

<% @tools.each do |tool| %>
  <h3><%= tool.name %></h3>
  <h5><%= tool.use %></h5>
  <%= link_to "edit", edit_admin_tool_path(tool.id) %>
  <%= link_to "delete", admin_tool_path(tool.id), method: :delete %>
<%end%>